
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%27');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  transition: all .8s ease-in-out;
}

a {
  text-decoration: none;
}

.card-body img {
  max-height: 250px;
}
