
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap%27');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;

}

a {
  text-decoration: none;
}

main {
  min-height: 50vh;
}

.card-body img {
  max-height: 250px;
}

:root::-webkit-scrollbar {
  /* color-scheme: light dark; */
  background-color: #222;
}

:root::-webkit-scrollbar-thumb {
  background-color: #555;
}